footer
  .left 
    img(src='/assets/img/logo.svg')
    p.bigger Nina Petropoulos
  .col
    ul
      li.muted.thick Portfolio
      li.muted.thin Web Work
      li.muted.thin Graphic Design
      li.muted.thin Music
  .col 
    ul
      li.muted.thick About
      li.muted.thick Contact
      li.muted.thick Blog
