#top-nav
  background: #f9f9f9
  width: 100vw
  position: fixed
  nav
    height: 40px
    padding: 10px 20px
    border-bottom: solid 1px rgba(255, 224, 178, 0.4)
    ul
      display: flex
      justify-content: space-between
      align-items: center
      flex-grow: 1
      li
        display: inline
        font-size: 18px
        letter-spacing: -1px
        text-transform: uppercase
        font-weight: 700
        a
          text-decoration: none
          color: $secondary-text
